# First print your name in the cell below then save this file. (or something nice about your instructor)

In [1]:
# In this cell print your name 
print(f'Akkeem Tyrell')

Akkeem Tyrell

# Data wrangling with Pandas exercise
* For this exercise we will be using the `listings.csv` data file.

In [2]:
import pandas as pd
import numpy as np
import glob
import re

# Load in the data file using `pd.read_csv()`

In [3]:
# Load data here
listings = pd.read_csv('../data/listings.csv')
listings

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,175,3,48,2019-11-04,0.37,2,365
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,75,1,340,2020-08-01,4.75,1,265
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,29,50,2019-12-02,0.37,1,365
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.66120,-73.99423,Entire home/apt,175,14,1,2014-01-02,0.01,1,295
4,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,65,2,473,2020-03-15,3.44,1,340
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46522,44807522,Designer Gramercy Studio Townhouse by UNSQ,12941925,Brian,Manhattan,Gramercy,40.73433,-73.98383,Entire home/apt,145,7,0,NaN,NaN,1,164
46523,44807786,Cozy & comfy apt in the heart of Inwood Manhattan,284790520,Salar,Manhattan,Washington Heights,40.85820,-73.92733,Entire home/apt,87,6,0,NaN,NaN,2,85
46524,44811717,Comfortable safe environment 24hr security camera,362453686,Nicole,Brooklyn,East Flatbush,40.65399,-73.93287,Private room,59,3,0,NaN,NaN,1,90
46525,44814944,Upper West Side studio 86th Street,4039777,Fernando,Manhattan,Upper West Side,40.78731,-73.97029,Entire home/apt,80,30,0,NaN,NaN,1,113
46526,44818009,"5MIN D/N trains, NEAR THE BEACH, 50’ TO MANHATTAN",48098268,Marina,Brooklyn,Gravesend,40.59945,-73.98209,Private room,66,1,0,NaN,NaN,1,38

## Exercise 2 - Filtering

Return the following subsets of the dataframe.

1. How many listings are there with a price less than 100? 


2. Find how many listings there are in just Brooklyn.


3. Find how many listings there are in Brooklyn with a price less than 100.


4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.


5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  The prices for all other listings should be the same as the were before. 


6. What % of the rooms are private, and what % of the rooms are shared.  
    * Hint, use `.value_counts()`

In [4]:
listings.dtypes

id                                  int64
name                               object
host_id                             int64
host_name                          object
neighbourhood_group                object
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
dtype: object

In [5]:
# 1. How many listings are there with a price less than 100? 
cheap_listings = int((listings["price"] < 100).sum())
print(f'There are {cheap_listings} listings under $100')

There are 22778 listings under $100

In [6]:
# 2. Make a new DataFrame of listings in Brooklyn named `df_bk` 
# and find how many listings in just Brooklyn.
df_bk = listings[listings["neighbourhood_group"] == "Brooklyn"].copy()
df_bk.shape[0]

18632

In [7]:
# 3. Find how many listings there are in Brooklyn with a price less than 100.
cheap_bk_listings = (df_bk["price"] < 100).sum()
print(f'There are {cheap_bk_listings} listings under $100 in bk')

There are 10473 listings under $100 in bk

In [8]:
# 4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.
# How many total are there that have those names
hosts = ["Michael", "David", "John", "Daniel"]
specific_hosts = df_bk[df_bk["host_name"].isin(hosts)]

host_count = specific_hosts["host_name"].value_counts()
for host, count in host_count.items():
    print(f'{host}: {count} listings')

print(f'There are {len(specific_hosts)} listings altogether')

Michael: 150 listings
David: 121 listings
Daniel: 102 listings
John: 84 listings
There are 457 listings altogether

In [9]:
# 5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  
# The prices for all other listings should be the same as the were before. 
df_bk["adjusted_price"] = np.where(df_bk["neighbourhood"] == "Williamsburg", df_bk["price"] + 100, df_bk["price"])
df_bk

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,adjusted_price
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,75,1,340,2020-08-01,4.75,1,265,75
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,29,50,2019-12-02,0.37,1,365,60
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.66120,-73.99423,Entire home/apt,175,14,1,2014-01-02,0.01,1,295,175
8,5803,"Lovely Room 1, Garden, Best Area, Legal rental",9744,Laurie,Brooklyn,South Slope,40.66829,-73.98779,Private room,88,4,180,2020-03-18,1.31,3,344,88
11,6848,Only 2 stops to Manhattan studio,15991,Allen & Irina,Brooklyn,Williamsburg,40.70837,-73.95352,Entire home/apt,109,2,181,2020-03-16,1.32,1,0,209
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46517,44802032,A very large room in Williamsburg,213793805,Omer,Brooklyn,Williamsburg,40.71970,-73.95632,Private room,55,14,0,NaN,NaN,1,45,155
46518,44802224,Unique & beautiful design! Skylights-Washer/dryer,143513836,Elisabeth,Brooklyn,Crown Heights,40.67302,-73.91695,Private room,61,30,0,NaN,NaN,5,363,61
46519,44803201,1200 SF Duplex apt in an old shoe factory/ mon...,921746,Michael + Josué,Brooklyn,Clinton Hill,40.69034,-73.96179,Entire home/apt,253,30,0,NaN,NaN,1,74,253
46524,44811717,Comfortable safe environment 24hr security camera,362453686,Nicole,Brooklyn,East Flatbush,40.65399,-73.93287,Private room,59,3,0,NaN,NaN,1,90,59
46526,44818009,"5MIN D/N trains, NEAR THE BEACH, 50’ TO MANHATTAN",48098268,Marina,Brooklyn,Gravesend,40.59945,-73.98209,Private room,66,1,0,NaN,NaN,1,38,66

In [10]:
# 6. What % of the rooms are private, and what % of the rooms are shared.
private_rooms_count = df_bk["room_type"].value_counts()  # Provide a zip variable with 
private_rooms_percentage = df_bk["room_type"].value_counts(normalize=True) * 100
specific_room_types = ["Private room", "Shared room"]

for room_type in private_rooms_percentage.index:
    if room_type in specific_room_types:
        print(f'{room_type}: {private_rooms_count[room_type]} rooms ({private_rooms_percentage[room_type]:.2f}%)')

Private room: 9159 rooms (49.16%)
Shared room: 331 rooms (1.78%)

# Exercise 3 - Grouping

1. Using `groupby`, count how many listings are in each neighbourhood_group.


2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 


3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 


4. Using `groupby`, find the median price for each room type in each neighbourhood_group.


5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices for each room type in each neighbourhood_group.

In [11]:
# 1. Using `groupby`, count how many listings are in each neighbourhood_group.
listings_by_borough = listings.groupby("neighbourhood_group").size()
for borough, count in listings_by_borough.items():
    print(f'{borough}: {count} listings')

Bronx: 1183 listings
Brooklyn: 18632 listings
Manhattan: 20580 listings
Queens: 5791 listings
Staten Island: 341 listings

In [12]:
# 2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 
mean_price_per_borough = listings.groupby("neighbourhood_group")["price"].mean()
print(f'Mean Listing Price per Borough:')
for borough, mean_price in mean_price_per_borough.items():
    print(f'{borough}: ${mean_price:.2f}')

Mean Listing Price per Borough:
Bronx: $92.75
Brooklyn: $120.23
Manhattan: $191.88
Queens: $99.75
Staten Island: $110.95

In [13]:
# 2.5. Using `groupby`, find the mean price for each room_type.
mean_price_per_accommodation = listings.groupby("room_type")["price"].mean()
print(f'Mean Price Per Accommodation:')
for accommodation, price in mean_price_per_accommodation.items():
    print(f'{accommodation}: ${price:.2f}')

Mean Price Per Accommodation:
Entire home/apt: $199.40
Hotel room: $275.02
Private room: $91.45
Shared room: $87.06

In [14]:
# 3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 
listings.groupby("neighbourhood_group")["price"].agg(["min", "max"])

                     min    max
neighbourhood_group
Bronx                 16   1404
Brooklyn               0  10000
Manhattan              0  10000
Queens                 0  10000
Staten Island         19   1200

In [15]:
# 4. Using `groupby`, find the mean price for each room_type in each neighbourhood_group.
mean_price_per_room_type_per_borough = listings.groupby(["neighbourhood_group", "room_type"])["price"].mean()
current_borough = None
for (borough, room_type), mean_price in mean_price_per_room_type_per_borough.items():
    if borough != current_borough:
        current_borough = borough
        print(f'\n{current_borough}')
        print('-' * len(current_borough))
    print(f'\t{room_type}: ${mean_price:.2f}')

Bronx
-----
	Entire home/apt: $138.00
	Private room: $68.42
	Shared room: $66.39

Brooklyn
--------
	Entire home/apt: $171.59
	Hotel room: $147.30
	Private room: $71.29
	Shared room: $57.87

Manhattan
---------
	Entire home/apt: $231.34
	Hotel room: $292.52
	Private room: $128.28
	Shared room: $111.74

Queens
------
	Entire home/apt: $150.17
	Hotel room: $139.06
	Private room: $69.97
	Shared room: $89.89

Staten Island
-------------
	Entire home/apt: $151.72
	Private room: $70.31
	Shared room: $46.00

In [16]:
# 5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices 
# for each room type in each neighbourhood_group.
listings.groupby(["neighbourhood_group", "room_type"])["price"].agg(["count", "min", "max", "mean", "median", "std"])

                                     count  min    max        mean  median  \
neighbourhood_group room_type
Bronx               Entire home/apt    415   25   1404  138.004819   103.0
                    Private room       722   16    700   68.419668    55.0
                    Shared room         46   20    800   66.391304    44.0
Brooklyn            Entire home/apt   9112   20  10000  171.587687   135.0
                    Hotel room          30    0    399  147.300000   129.0
                    Private room      9159   10   2500   71.291189    60.0
                    Shared room        331   15   1500   57.870091    36.0
Manhattan           Entire home/apt  12209    0  10000  231.335572   165.0
                    Hotel room         351    0   2211  292.515670   210.0
                    Private room      7601   10  10000  128.277069    80.0
                    Shared room        419   10  10000  111.735084    60.0
Queens              Entire home/apt   2090   10  10000  150.168900   115.0
                    Hotel room          17    0    249  139.058824   149.0
                    Private room      3499   18   9000   69.972564    55.0
                    Shared room        185   14   3000   89.891892    40.0
Staten Island       Entire home/apt    172   39   1200  151.720930   111.0
                    Private room       163   20    800   70.312883    55.0
                    Shared room          6   19     82   46.000000    38.0

                                            std
neighbourhood_group room_type
Bronx               Entire home/apt  126.032106
                    Private room      57.337866
                    Shared room      114.442703
Brooklyn            Entire home/apt  236.732843
                    Hotel room        91.153206
                    Private room      69.023165
                    Shared room       92.217618
Manhattan           Entire home/apt  410.306439
                    Hotel room       315.924085
                    Private room     448.677306
                    Shared room      502.728868
Queens              Entire home/apt  252.606739
                    Hotel room        50.743806
                    Private room     163.814468
                    Shared room      275.675158
Staten Island       Entire home/apt  147.518392
                    Private room      70.759593
                    Shared room       28.446441

# Load, Merge, and Export files.
1. Load the `prices.csv` and the `n_listings.csv`
    * Having an error..? Inspect the actual csv file if you're having trouble

2. Do join that keeps all the records for each table.
    * Neighbourhood groups should include ['Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island',
       'LongIsland']

       
3. Save your joined csv as `joined.csv` into the data folder. 


4. Load your saved table and see if it looks the same or different that the DataFrame you used to create it.

In [17]:
# 1. Load the `prices.csv` and the `n_listings.csv`
prices = pd.read_csv("../data/prices.csv")
n_listings = pd.read_csv("../data/n_listings.csv", sep=';')

In [18]:
# 2. Do join that keeps all the records for each table.
prices_merged_df = pd.merge(prices, n_listings, on="neighbourhood_group", how="outer")
prices_merged_df

  neighbourhood_group   mean_price  n_listings
0               Bronx    92.751479      1183.0
1            Brooklyn   120.225258     18632.0
2          LongIsland          NaN      4121.0
3           Manhattan   191.880466     20580.0
4              Queens    99.754965         NaN
5       Staten Island   110.947214         NaN

In [19]:
# 3. Save your joined csv as `joined.csv` into the data folder.
prices_merged_df.to_csv('../data/joined_df.csv', index=False)

In [20]:
# 4. Load your newly saved file, see if it looks the same.  If not, try saving with argument `index=False`
joined_df = pd.read_csv("../data/joined_df.csv")
joined_df

  neighbourhood_group   mean_price  n_listings
0               Bronx    92.751479      1183.0
1            Brooklyn   120.225258     18632.0
2          LongIsland          NaN      4121.0
3           Manhattan   191.880466     20580.0
4              Queens    99.754965         NaN
5       Staten Island   110.947214         NaN

# Extra Credit
Every question below this cell is extra credit and optional.

### 1. (Easy) Explore this new PandasAI Package and tell me what its all about because I've never used it. 
* https://www.youtube.com/watch?v=5w6eZaoDVVk&ab_channel=CodingIsFun  
* See if you can use it on the listings.csv to find out some cool info. or answer some of the questions above.

PandasAI Package is a new and really cool package for using AI to analyze your dataframe, its built on Pandas with a LLM from OpenAI. It allows you to use a prompt to ask the AI questions about your dataset, making it really interactive and easy to use.
From what I can see, it can potentially allow individuals with little knowledge of pandas functions to interrogate their data to gain a understanding of their dataset to solve questions, however a few drawbacks of the technology is that it is relatively new, therefore there will be potential bugs in the model that an uninformed user may not be able to identify, also it is built on a paid model, which although affordable, has to potential to get costly with unmeasured use, it may also be unappealing for security focused individuals/organizations, as this may expose your data through the LLM

### 2. (Very Easy) Find other cool Panda packages / add ons and show us what they can do well. And how you installed them.

One package that I'm looking into is GeoPandas which is a library built on Pandas for visualizing geospatial data. Installing it is simple if you are already familiar with setting up a virtual environment. Using said virtual environment, you simple need to "pip install geopandas", get a shapefile from any free (and trusted) online source and play around with it.

### 3. (Medium) Use the grammys.csv data for the next section of questions.

1. Who was won Album of the Year in 2016?


2. Who won Best Rap Album in 2009?


3. How many awards was Kendrick Lamar nomiated for, and how many did he win...?

In [21]:
grammys_df = pd.read_csv("../data/grammys.csv")
grammys_df

,year,category,nominee,workers,winner
0,1959,Album of the Year,The Music from Peter Gunn.,Henry Mancini,True
1,1959,Best Album Cover,Only the Lonely,Frank Sinatra (art director),True
2,1959,Best Arrangement,The Music From Peter Gunn,Henry Mancini (artist/arranger),True
3,1959,Best Classical Performance - Chamber Music (in...,Beethoven: Quartet 130,"The Hollywood String Quartet, Paul Shure (arti...",True
4,1959,Best Classical Performance - Instrumentalist (...,Segovia Golden Jubilee,Andrés Segovia,True
...,...,...,...,...,...
6318,2019,Record of the Year,Rockstar,"Post Malone (artist), 21 Savage (artist), Loui...",False
6319,2019,Song of the Year,This is America (Childish Gambino),"Ludwig Göransson (songwriter), Young Thug (son...",True
6320,2019,Song of the Year,The Joke (Brandi Carlile),"Brandi Carlile (songwriter), Dave Cobb (songwr...",False
6321,2019,Song of the Year,Boo'd Up (Ella Mai),"Ella Mai (songwriter), Larrance Dopson (songwr...",False
6322,2019,Song of the Year,In My Blood (Shawn Mendes),"Shawn Mendes (songwriter), Teddy Geiger (songw...",False

In [22]:
#1. Who was won Album of the Year in 2016?
album_of_the_year = grammys_df[
    (grammys_df['category'] == 'Album of the Year') &
    (grammys_df['year'] == 2016) &
    (grammys_df['winner'] == True)
]
album_of_the_year

,year,category,nominee,workers,winner
5505,2016,Album of the Year,1989.,"Taylor Swift (artist/producer), Jack Antonoff ...",True

In [23]:
grammys_df['category'].unique()

array(['Album of the Year', 'Best Album Cover', 'Best Arrangement',
       'Best Classical Performance - Chamber Music (including Chamber Orchestra)',
       'Best Classical Performance - Instrumentalist (other than Concerto Scale Accompaniment)',
       'Best Classical Performance - Instrumentalist (other than concerto-scale accompaniment)',
       'Best Classical Performance - Instrumentalist (with Concerto Scale Accompaniment)',
       'Best Classical Performance - Operatic or Choral',
       'Best Classical Performance - Orchestra',
       'Best Classical Performance - Vocal Soloist (with or without Orchestra)',
       'Best Comedy Performance', 'Best Country & Western Performance',
       'Best Country and Western Performance',
       'Best Engineered Record (Classical)',
       'Best Engineered Record - Non-Classical',
       'Best Instrumental Arrangement', 'Best Instrumental Composition',
       'Best Jazz Performance, Group',
       'Best Jazz Performance, Individual',
       'Best Musical Composition First Recorded and Released in 1958 (over 5 minutes duration)',
       'Best Original Cast Album (Broadway or TV)',
       'Best Performance by a Dance Band',
       'Best Performance by a Vocal Group or Chorus',
       'Best Performance by an Orchestra - for Other Than Dancing',
       'Best Performance, Documentary or Spoken Word',
       'Best R&B Vocal Performance by a Duo or Group',
       'Best Recording for Children', 'Best Rhythm & Blues Performance',
       'Best Sound Track Album, Dramatic Picture Score or Original Cast',
       'Best Soundtrack Album, Dramatic Picture Score or Original Cast',
       'Best Vocal Performance, Female', 'Best Vocal Performance, Male',
       'Record of the Year', 'Song of the Year',
       'Best Album Created For Children',
       'Best Classical Opera Production',
       'Best Classical Performance - Vocal Or Instrumental - Chamber Music',
       'Best Classical Performance- Choral (Including Oratorio)',
       'Best Classical Performance- Concerto Or Instrumental Soloist',
       'Best Classical Performance- Instrumental Soloist Or Duo (Other Than With Orchestral Accompaniment)',
       'Best Classical Performance- Orchestra',
       'Best Classical Performance- Vocal Soloist',
       'Best Comedy Performance - Musical',
       'Best Comedy Performance - Spoken Word',
       'Best Contemporary Classical Composition',
       'Best Engineering Contribution - Classical Recording',
       'Best Engineering Contribution - Novelty Recording',
       'Best Engineering Contribution - Popular Recording',
       'Best Jazz Composition Of More Than Five Minutes Duration',
       'Best Jazz Performance Large Group',
       'Best Jazz Performance Solo or Small Group', 'Best New Artist',
       'Best Performance By A Pop Single Artist',
       'Best Performance by a Band For Dancing',
       'Best Performance by a Chorus (7 Or More Persons)',
       'Best Performance by a Vocal Group (2 To 6)',
       'Best Performance by an Orchestra',
       'Best Performance- Documentary or Spoken Word (Other Than Comedy)',
       'Best Performance- Folk', 'Best Show Album (Original Cast)',
       'Best Soundtrack Album or Recording of Music Score from Motion Picture or Television',
       'Best Soundtrack Album or Recording of Original Cast from a Motion Picture or TV',
       'Best Vocal Performance Album, Female',
       'Best Vocal Performance Album, Male',
       'Best Vocal Performance Single Record Or Track, Female',
       'Best Vocal Performance Single Record or Track, Female',
       'Best Vocal Performance Single Record or Track, Male',
       'Best Spoken Word Album', 'Album Of the Year - Classical',
       'Best Album Cover (Other Than Classical)',
       'Best Album Cover- Classical',
       'Best Classical Performance- Chamber Music',
       'Best Classical Performance- Choral (Other Than Opera)',
       'Best Classical Performance- Instrumental Soloist (With Orchestra)',
       'Best Classical Performance- Instrumental Soloist Or Duo (Without Orchestra)',
       'Best Classical Performance- Vocal Soloist (With or Without Orchestra)',
       'Best Country & Western Recording',
       'Best Documentary or Spoken Word Recording (Other Than Comedy)',
       'Best Engineering Contribution - Novelty', 'Best Folk Recording',
       'Best Gospel Or Other Religious Recording',
       'Best Instrumental Theme Or Instrumental Version of Song',
       'Best Jazz Performance - Large Group (Instrumental)',
       'Best Jazz Performance- Soloist or Small Group (Instrumental)',
       'Best New Artist Of 1961', 'Best Opera Recording',
       'Best Original Cast Show Album', 'Best Original Jazz Composition',
       'Best Performance by a Chorus',
       'Best Performance by a Vocal Group',
       'Best Performance by an Orchestra- For Dancing',
       'Best Rhythm & Blues Recording', 'Best Rock & Roll Recording',
       'Best Solo Vocal Performance, Female',
       'Best Solo Vocal Performance, Male',
       'Best Soundtrack Album or Recording of Original Cast from Motion Picture or Television',
       'Best Soundtrack Album or Recording of Score from Motion Picture or Television',
       'Album of the Year (Other Than Classical)',
       'Best Album Cover- Other Than Classical',
       'Best Background Arrangement (Behind Vocalist Or Instrumentalist)',
       'Best Classical Performance- Instrumental Soloist Or Soloists (With Orchestra)',
       'Best Contemporary Composition',
       'Best Documentary, Spoken Word, or Drama Recording (Other Than Comedy)',
       'Best Engineered Recording - Classical',
       'Best Engineering Contribution - Other than Novelty and Other Than Classical',
       'Best Instrumental Theme',
       'Best Jazz Performance- Large Group (Instrumental)',
       'Best New Artist Of 1962',
       'Best Performance by an Orchestra or Instrumentalist with Orchestra- Primarily Not Jazz Or For Dancing',
       'Best Album Notes',
       'Best Classical Composition By A Contemporary Composer',
       'Best Engineered Recording- Classical',
       'Best Engineered Recording- Other than Classical',
       'Best Engineered Recording- Special or Novel Effects',
       'Best Gospel Or Other Religious Recording (Musical)',
       'Best Instrumental Jazz Performance- Large Group',
       'Best Instrumental Jazz Performance- Soloist or Small Group',
       'Best New Artist Of 1963',
       'Best Original Score from a Motion Picture or Television Show',
       'Best Score From An Original Cast Show Album',
       'Classical Album Of the Year',
       'Most Promising New Classical Recording Artist',
       'Album of the Year -- Classical',
       'Best Accompaniment Arrangement for Vocalist(s) or Instrumentalist(s)',
       'Best Chamber Music Performance - Vocal',
       'Best Chamber Performance - Instrumental',
       'Best Choral Performance (other than opera)',
       'Best Composition by a Contemporary Composer',
       'Best Country & Western Album', 'Best Country & Western Single',
       'Best Country & Western Song',
       'Best Country & Western Vocal Performance - Female',
       'Best Country & Western Vocal Performance - Male',
       'Best Documentary, Spoken Word or Drama Recording (other than comedy)',
       'Best Engineered Recording',
       'Best Engineered Recording - Non-Classical',
       'Best Engineered Recording - Special or Novel Effects',
       'Best Gospel or Other Religious Recording (Musical)',
       'Best Instrumental Composition (other than jazz)',
       'Best Instrumental Jazz Performance - Large Group or Soloist with Large Group',
       'Best Instrumental Jazz Performance - Small Group or Soloist with Small Group',
       'Best Instrumental Performance - Non-Jazz',
       'Best Original Score Written for a Motion Picture or Television Show',
       'Best Performance - Instrumental Soloist or Soloists (with orchestra)',
       'Best Performance - Instrumental Soloist or Soloists (without orchestra)',
       'Best Performance - Orchestra',
       'Best Score From an Original Cast Show Album',
       'Best Vocal Soloist Performance (with or without orchestra)',
       'Best Contemporary (R&R)  Vocal Performance, Male',
       'Album of the Year - Classical', 'Best Album Cover - Graphic Arts',
       'Best Album Cover - Photography',
       'Best Arrangement Accompanying a Vocalist or Instrumentalist',
       'Best Classical Chamber Music Performance - Instrumental or Vocal',
       'Best Classical Choral Performance (other than opera)',
       'Best Classical Performance - Instrumental Soloist or Soloists (with orchestra)',
       'Best Classical Performance - Instrumental Soloist or Soloists (without orchestra)',
       'Best Classical Vocal Soloist Performance',
       'Best Composition by a Contemporary Classical Composer',
       'Best Contemporary (R&R) Performance - Group (Vocal or Instrumental)',
       'Best Contemporary (R&R) Single',
       'Best Contemporary (R&R) Vocal Performance - Female',
       'Best Contemporary (R&R) Vocal Performance - Male',
       'Best Engineered Recording, Classical',
       'Best Instrumental Jazz Performance - Small Group or Soloist With Small Group',
       'Best Instrumental Performance, Non-Jazz',
       'Best Spoken Word or Drama Recording',
       'Best Album Cover, Photography',
       'Best Chamber Music Performance - Instrumental or Vocal',
       'Best Classical Performance - Instrumental Soloist or Soloists (with or without orchestra)',
       'Best Classical Vocal Soloist Performance (with or without orchestra)',
       'Best Contemporary (R&R) Group Performance, Vocal or Instrumental',
       'Best Contemporary (R&R) Recording',
       'Best Contemporary (R&R) Solo Vocal Performance - Male or Female',
       'Best Country & Western Vocal Performance, Male',
       'Best Instrumental Jazz Performance - Group or Soloist with Group',
       'Best Instrumental Performance (Other Than Jazz)',
       'Best Rhythm & Blues Group Performance, Vocal or Instrumental',
       'Best Rhythm & Blues Solo Vocal Performance, Male or Female',
       'Best Sacred Performance', 'Best Sacred Recording (Musical)',
       'Best Spoken Word, Documentary or Drama Recording',
       'Best Album Cover, Graphic Arts', 'Album of the Year, Classical',
       'Best Arrangement Accompanying Vocalist(s) or Instrumentalist(s)',
       'Best Chamber Music Performance', 'Best Comedy Recording',
       'Best Contemporary Album',
       'Best Contemporary Female Solo Vocal Performance',
       'Best Contemporary Group Performance (Vocal or Instrumental)',
       'Best Contemporary Male Solo Vocal Performance',
       'Best Contemporary Single',
       'Best Country & Western Performance Duet, Trio or Group (Vocal or Instrumental)',
       'Best Country & Western Solo Vocal Performance, Female',
       'Best Country & Western Solo Vocal Performance, Male',
       'Best Folk Performance', 'Best Gospel Performance',
       'Best Instrumental Jazz Performance, Large Group or Soloist with Large Group',
       'Best Instrumental Jazz Performance, Small Group or Soloist With Small Group',
       'Best Instrumental Performance',
       'Best Original Score Written for a Motion Picture or a Television Show',
       'Best Rhythm & Blues Solo Vocal Performance, Female',
       'Best Rhythm & Blues Solo Vocal Performance, Male',
       'Best Arrangement Accompanying Vocalist(s)',
       'Best Contemporary Pop Performance - Vocal Duo or Group',
       'Best Contemporary Pop Performance, Chorus',
       'Best Contemporary Pop Performance, Instrumental',
       'Best Contemporary Pop Vocal Performance, Female',
       'Best Contemporary Pop Vocal Performance, Male',
       'Best Country Performance, Duo or Group - Vocal or Instrumental',
       'Best Country Song', 'Best Country Vocal Performance, Female',
       'Best Country Vocal Performance, Male',
       'Best Engineered Recording, Non-Classical',
       'Best New Artist of the Year',
       'Best Original Score Written for a Motion Picture',
       'Best Original Score Written for a Motion Picture or a Television Special',
       'Best Performance - Instrumental Soloist or Soloists (with or without orchestra)',
       'Best Rhythm & Blues Performance by a Duo or Group, Vocal or Instrumental',
       'Best Rhythm & Blues Song',
       'Best Rhythm & Blues Vocal Performance, Female',
       'Best Rhythm & Blues Vocal Performance, Male',
       'Best Soul Gospel Performance', 'Best Spoken Word Recording',
       'Best Vocal Soloist Performance',
       'Best Country Vocal Performance by a Duo or Group',
       'Best Choral Performance, Classical',
       'Best Classical Performance, Instrumental Soloist or Soloists (with or without Orchestra)',
       'Best Classical Performance, Orchestra',
       'Best Contemporary Instrumental Performance',
       'Best Contemporary Performance by a Chorus',
       'Best Contemporary Song',
       'Best Contemporary Vocal Performance by a Group',
       'Best Contemporary Vocal Performance, Female',
       'Best Contemporary Vocal Performance, Male',
       'Best Country Instrumental Performance',
       'Best Instrumental Jazz Performance, Small Group or Soloist with Small Group',
       'Best R&B Instrumental Performance', 'Best R&B Song',
       'Best R&B Vocal Performance, Female',
       'Best R&B Vocal Performance, Male',
       'Best Score from an Original Cast Show Album',
       'Best Vocal Soloist Performance, Classical',
       'Best Choral Performance',
       'Best Contemporary Vocal Performance by a Duo, Group or Chorus',
       'Best Ethnic or Traditional Recording (Including Traditional Blues)',
       'Best Jazz Performance, Large Group or Soloist with Large Group',
       'Best Jazz Performance, Small Group or Soloist with Small Group',
       'Best R&B Performance by a Duo or Group, Vocal or Instrumental',
       'Lifetime Achievement Award',
       'Best Classical Performance, Instrumental Soloist or Soloists (with Orchestra)',
       'Best Classical Performance, Instrumental Soloist or Soloists (without Orchestra)',
       'Best Ethnic or Traditional Recording',
       'Best Jazz Performance by a Big Band',
       'Best Jazz Performance by a Group',
       'Best Jazz Performance by a Soloist',
       'Best Pop Instrumental Performance',
       'Best Pop Vocal Performance by a Duo or Group',
       'Best Pop Vocal Performance, Female',
       'Best Pop Vocal Performance, Male',
       'Best R&B Vocal Performance by a Group',
       'Best Album Notes, Classical', 'Best Classical Album',
       'Best Classical Performance Instrumental Soloist or Soloists (with Orchestra)',
       'Best Classical Performance Instrumental Soloist or Soloists (without Orchestra)',
       'Best Inspirational Performance',
       'Best Pop Instrumental Performance by an Arranger, Composer, Orchestra and/or Choral Leader',
       'Best Pop Instrumental Performance by an Instrumental Performer',
       'Best Pop Vocal Performance by a Duo, Group or Chorus',
       'Best R&B Vocal Performance by a Duo, Group or Chorus',
       'Album of Best Original Score Written for a Motion Picture or a Television Special',
       'Best Album Package',
       'Best Score from the Original Cast Show Album',
       'Album of Best Original Score Written for a Motion Picture',
       'Best Album Notes - Classical',
       'Best Arrangement Accompanying Vocalists',
       'Best Choral Performance, Classical (other than opera)',
       'Best Classical Performance Instrumental Soloist or Soloists (with orchestra)',
       'Best Classical Performance Instrumental Soloist or Soloists (without orchestra)',
       'Best Gospel Performance (other than soul gospel)',
       'Best Inspirational Performance (non-classical)',
       'Best Producer of the Year',
       'Best Country Vocal Performance - Female',
       'Album of Best Original Score Written for a Motion Picture or Television Special',
       'BEST ARRANGEMENT ACCOMPANYING VOCALIST', 'Best Cast Show Album',
       'Best Jazz Performance BY a Soloist', 'Best Latin Recording',
       'Best Country Vocal Performance - Male',
       'Best Album of Original Score Written for a Motion Picture or Television Special',
       'Best Arrangement for Voices (duo, group or chorus)',
       'Best Classical Orchestral Performance',
       'Best Classical Performance, Instrumental Soloist or Soloists (with orchestra)',
       'Best Classical Performance, Instrumental Soloist or Soloists (without orchestra)',
       'Best Jazz Performance by a Soloist (instrumental)',
       'Best Jazz Vocal Performance',
       'Best Album of Original Score written for a Motion Picture or Television Special',
       'Best Arrangement for Voices',
       'Best Gospel Performance, Contemporary or Insprirational',
       'Best Gospel Performance, Traditional',
       'Best Pop Instrumental Recording',
       'Best Pop Vocal Performance by a Group',
       'Best R&B Vocal Performance - Female',
       'Best Soul Gospel Performance, Contemporary',
       'Best Soul Gospel Performance, Traditional',
       'Producer of the Year', 'Best Pop Vocal Performance - Female',
       'Best Album of Original Score Written for a Motion Picture or a Television Special',
       'Best Arrangement Accompanying Vocal(s)',
       'Best Classical Performance, Instrumental Soloist(s) (with orchestra)',
       'Best Classical Performance, Instrumental Soloist(s) (without orchestra)',
       'Best Gospel Performance, Contemporary or Inspirational',
       'Best Historical Repackage Album',
       'Best Jazz Instrumental Performance, Big Band',
       'Best Jazz Instrumental Performance, Group',
       'Best Jazz Instrumental Performance, Soloist',
       'Best Rock Vocal Performance - Female', 'Best Disco Recording',
       'Best Arrangement Accompanying Vocals',
       'Best Classical Orchestral Recording',
       'Best Country Performance by a Duo or Group with Vocal',
       'Best Historical Reissue Album',
       'Best Jazz Fusion Performance, Vocal or Instrumental',
       'Best Rock Instrumental Performance',
       'Best Rock Vocal Performance by a Duo or Group',
       'Best Rock Vocal Performance, Female',
       'Best Rock Vocal Performance, Male',
       'Classical Producer of the Year',
       'Best Ethnic or Traditional Folk Recording',
       'Best Jazz Vocal Performance, Female',
       'Best Jazz Vocal Performance, Male',
       'Best Pop Performance by a Duo or Group with Vocal',
       'Best R&B Performance by a Duo or Group with Vocal',
       'Best Rock Performance by a Duo or Group with Vocal',
       'Producer of the Year (Non-Classical)',
       'Best Arrangement On An Instrumental Recording',
       'Best Historical Album',
       'Best Instrumental Arrangement Accompanying Vocal(s)',
       'Best Jazz Vocal Performance, Duo or Group',
       'Best Vocal Arrangement for Two or More Voices',
       'Video Of The Year',
       'Best Classical Performance, Instrumental Soloist (with orchestra)',
       'Best Gospel Performance, Contemporary',
       'Best Orchestral Performance', 'Best Traditional Blues Recording',
       'Best Arrangement on an Instrumental',
       'Best Classical Performance – Instrumental Soloist or Soloists (with orchestra)',
       'Best Classical Performance – Instrumental Soloist or Soloists (without orchestra)',
       'Best Gospel Performance by a Duo or Group',
       'Best Gospel Performance, Female', 'Best Gospel Performance, Male',
       'Best Latin Pop Performance', 'Best Mexican-American Performance',
       'Best New Country Song', 'Best Orchestral Recording',
       'Best Soul Gospel Performance by a Duo or Group',
       'Best Soul Gospel Performance, Female',
       'Best Soul Gospel Performance, Male',
       'Best Spoken Word or Non-musical Recording',
       'Best Tropical Latin Performance', 'Best Video Album',

In [24]:
# 2. Who won Best Rap Album in 2009?
best_rap_album_2009 = grammys_df[
    (grammys_df['category'] == 'Best Rap Album') &
    (grammys_df['year'] == 2009) &
    (grammys_df['winner'] == True)
]
best_rap_album_2009

      year        category         nominee     workers  winner
4396  2009  Best Rap Album  Tha Carter III  Lil' Wayne    True

In [25]:
# 3. How many awards was Kendrick Lamar nomiated for, and how many did he win...?
kendrick_stats = grammys_df[grammys_df['workers'].str.contains('Kendrick Lamar', na=False)]['winner'].agg(['count', 'sum'])
print(f'Kendrick Lamar\n\tNominated: {kendrick_stats['count']} times\n\tWon: {kendrick_stats['sum']} awards')

Kendrick Lamar
	Nominated: 20 times
	Won: 11 awards

### (Hard) Load the Game Logs for 2022 and add the column names using a dictionary.  
* [Link to the data page](https://www.retrosheet.org/gamelogs/)
* [Link to the column names](https://procatinator.com/)
* haha, gotta find them yourself!

In [26]:

baseball_2022_df = pd.read_csv("../data/gl2022.txt", header=None)
baseball_2022_df

,0,1,2,3,4,5,6,7,8,9,...,151,152,153,154,155,156,157,158,159,160
0,20220407,0,Thu,SDN,NL,1,ARI,NL,1,2,...,Seth Beer,10,ellid002,Drew Ellis,5,perdg001,Gerardo Perdomo,6,NaN,Y
1,20220407,0,Thu,CIN,NL,1,ATL,NL,1,6,...,Travis d'Arnaud,2,dicka001,Alex Dickerson,10,swand001,Dansby Swanson,6,NaN,Y
2,20220407,0,Thu,MIL,NL,1,CHN,NL,1,4,...,Jason Heyward,8,wisdp001,Patrick Wisdom,5,hoern001,Nico Hoerner,6,NaN,Y
3,20220407,0,Thu,PIT,NL,1,SLN,NL,1,0,...,Yadier Molina,2,badeh001,Harrison Bader,8,edmat001,Tommy Edman,4,NaN,Y
4,20220407,0,Thu,NYN,NL,1,WAS,NL,1,5,...,Maikel Franco,5,escoa003,Alcides Escobar,6,roblv001,Victor Robles,8,NaN,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2425,20221005,0,Wed,KCA,AL,162,CLE,AL,162,2,...,Will Brennan,7,maill001,Luke Maile,2,stram002,Myles Straw,8,NaN,Y
2426,20221005,0,Wed,PHI,NL,162,HOU,AL,162,2,...,Jake Meyers,8,dubom001,Mauricio Dubon,6,maldm001,Martin Maldonado,2,NaN,Y
2427,20221005,0,Wed,ANA,AL,162,OAK,AL,162,2,...,Conner Capel,9,garcd004,Dermis Garcia,3,allen002,Nick Allen,6,NaN,Y
2428,20221005,0,Wed,DET,AL,162,SEA,AL,162,4,...,Abraham Toro,5,casac001,Curt Casali,2,crawj002,J.P. Crawford,6,NaN,Y
2429,20221005,0,Wed,NYA,AL,162,TEX,AL,162,2,...,Charlie Culberson,7,tavel001,Leody Taveras,8,thomb003,Bubba Thompson,9,NaN,Y

### Column names identified from the documentation provided for the Game Logs
available @ https://www.retrosheet.org/gamelogs/glfields.txt

In [27]:
# Column names based on retrosheet documentation
column_names = [
    # Basic game info (1-21)
    "date", "game_number", "day_of_week", "visiting_team", "visiting_league", 
    "visiting_game_number", "home_team", "home_league", "home_game_number", 
    "visiting_score", "home_score", "game_length_outs", "day_night", 
    "completion_info", "forfeit_info", "protest_info", "park_id", 
    "attendance", "game_time_minutes", "visiting_line_score", "home_line_score",
    
    # Visiting team offensive stats (22-38)
    "v_at_bats", "v_hits", "v_doubles", "v_triples", "v_homeruns", "v_rbi",
    "v_sacrifice_hits", "v_sacrifice_flies", "v_hit_by_pitch", "v_walks",
    "v_intentional_walks", "v_strikeouts", "v_stolen_bases", "v_caught_stealing",
    "v_grounded_into_dp", "v_awarded_first_ci", "v_left_on_base",
    
    # Visiting team pitching stats (39-43)
    "v_pitchers_used", "v_individual_er", "v_team_er", "v_wild_pitches", "v_balks",
    
    # Visiting team defensive stats (44-49)
    "v_putouts", "v_assists", "v_errors", "v_passed_balls", "v_double_plays", "v_triple_plays",
    
    # Home team offensive stats (50-66)
    "h_at_bats", "h_hits", "h_doubles", "h_triples", "h_homeruns", "h_rbi",
    "h_sacrifice_hits", "h_sacrifice_flies", "h_hit_by_pitch", "h_walks",
    "h_intentional_walks", "h_strikeouts", "h_stolen_bases", "h_caught_stealing",
    "h_grounded_into_dp", "h_awarded_first_ci", "h_left_on_base",
    
    # Home team pitching stats (67-71)
    "h_pitchers_used", "h_individual_er", "h_team_er", "h_wild_pitches", "h_balks",
    
    # Home team defensive stats (72-77)
    "h_putouts", "h_assists", "h_errors", "h_passed_balls", "h_double_plays", "h_triple_plays",
    
    # Umpires (78-89)
    "hp_umpire_id", "hp_umpire_name", "1b_umpire_id", "1b_umpire_name",
    "2b_umpire_id", "2b_umpire_name", "3b_umpire_id", "3b_umpire_name",
    "lf_umpire_id", "lf_umpire_name", "rf_umpire_id", "rf_umpire_name",
    
    # Managers and pitchers (90-105)
    "v_manager_id", "v_manager_name", "h_manager_id", "h_manager_name",
    "winning_pitcher_id", "winning_pitcher_name", "losing_pitcher_id", "losing_pitcher_name",
    "save_pitcher_id", "save_pitcher_name", "gwrbi_batter_id", "gwrbi_batter_name",
    "v_starting_pitcher_id", "v_starting_pitcher_name", "h_starting_pitcher_id", "h_starting_pitcher_name"
]

# Add visiting starting players (106-132) - 9 players x 3 fields each = 27 fields
for i in range(1, 10):
    column_names.extend([f"v_player_{i}_id", f"v_player_{i}_name", f"v_player_{i}_position"])

# Add home starting players (133-159) - 9 players x 3 fields each = 27 fields  
for i in range(1, 10):
    column_names.extend([f"h_player_{i}_id", f"h_player_{i}_name", f"h_player_{i}_position"])

# Add final fields (160-161)
column_names.extend(["additional_info", "acquisition_info"])

# Apply column names to your DataFrame
baseball_2022_df.columns = column_names

print(f"Total columns: {len(column_names)}")
print(f"DataFrame shape: {baseball_2022_df.shape}")

Total columns: 161
DataFrame shape: (2430, 161)

In [28]:
baseball_2022_df.to_csv('../data/gl2022.csv', index=False)
baseball_2022_df

,date,game_number,day_of_week,visiting_team,visiting_league,visiting_game_number,home_team,home_league,home_game_number,visiting_score,...,h_player_7_name,h_player_7_position,h_player_8_id,h_player_8_name,h_player_8_position,h_player_9_id,h_player_9_name,h_player_9_position,additional_info,acquisition_info
0,20220407,0,Thu,SDN,NL,1,ARI,NL,1,2,...,Seth Beer,10,ellid002,Drew Ellis,5,perdg001,Gerardo Perdomo,6,NaN,Y
1,20220407,0,Thu,CIN,NL,1,ATL,NL,1,6,...,Travis d'Arnaud,2,dicka001,Alex Dickerson,10,swand001,Dansby Swanson,6,NaN,Y
2,20220407,0,Thu,MIL,NL,1,CHN,NL,1,4,...,Jason Heyward,8,wisdp001,Patrick Wisdom,5,hoern001,Nico Hoerner,6,NaN,Y
3,20220407,0,Thu,PIT,NL,1,SLN,NL,1,0,...,Yadier Molina,2,badeh001,Harrison Bader,8,edmat001,Tommy Edman,4,NaN,Y
4,20220407,0,Thu,NYN,NL,1,WAS,NL,1,5,...,Maikel Franco,5,escoa003,Alcides Escobar,6,roblv001,Victor Robles,8,NaN,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2425,20221005,0,Wed,KCA,AL,162,CLE,AL,162,2,...,Will Brennan,7,maill001,Luke Maile,2,stram002,Myles Straw,8,NaN,Y
2426,20221005,0,Wed,PHI,NL,162,HOU,AL,162,2,...,Jake Meyers,8,dubom001,Mauricio Dubon,6,maldm001,Martin Maldonado,2,NaN,Y
2427,20221005,0,Wed,ANA,AL,162,OAK,AL,162,2,...,Conner Capel,9,garcd004,Dermis Garcia,3,allen002,Nick Allen,6,NaN,Y
2428,20221005,0,Wed,DET,AL,162,SEA,AL,162,4,...,Abraham Toro,5,casac001,Curt Casali,2,crawj002,J.P. Crawford,6,NaN,Y
2429,20221005,0,Wed,NYA,AL,162,TEX,AL,162,2,...,Charlie Culberson,7,tavel001,Leody Taveras,8,thomb003,Bubba Thompson,9,NaN,Y

### (Extra Hard) Download the files for the past 5 years into a new folder and add them all into one data frame using pandas, then save that new file.
* Try to not hard code in the file names. We want to do this programmatically because what if we want to add new/more file names in the future.

In [35]:
# I'll use the glob library which uses pattern matching to find pathnames
file_paths = glob.glob(f"../data/gl2020_24/gl*.txt") # Here we're telling the program to find all files that start with 'gl' in the gl2020_24 folder and return their paths
print(file_paths)

# file_paths is now an iterable list, We can create dataframes using each path in our list
dataframes = []
for file_path in file_paths:
    df = pd.read_csv(file_path, header=None)

    # A rudimentary dataframe is created, now we can use regex to extract the date to mark the orgin year
    file_name = file_path.split('/')[-1] # This will split the path on each directory name creating a list of each name and grab the file name which is the last element of the list
    match = re.search(r'gl(\d+)', file_name) # Then we do a regex search to grab all digits after we encounter the string 'gl'
    year = match.group(1) # This specifies the group to capture which in this case will be the year
    df["origin_year"] = year # Set the origin year column
    dataframes.append(df) # append the dataframe we are currently working on our accumulator
    print(f'Loaded {file_path}: {df.shape[0]} rows')

combined_df = pd.concat(dataframes, ignore_index=True) # Stack the dataframes together into a singular cohesive unit
combined_df.columns = column_names + ["origin_year"] # re-add the column names we generated in the previous cell and the origin year
combined_df = combined_df.sort_values('origin_year', ascending=False)
combined_df

['../data/gl2020_24/gl2020.txt', '../data/gl2020_24/gl2021.txt', '../data/gl2020_24/gl2022.txt', '../data/gl2020_24/gl2024.txt', '../data/gl2020_24/gl2023.txt']
Loaded ../data/gl2020_24/gl2020.txt: 898 rows
Loaded ../data/gl2020_24/gl2021.txt: 2429 rows
Loaded ../data/gl2020_24/gl2022.txt: 2430 rows
Loaded ../data/gl2020_24/gl2024.txt: 2429 rows
Loaded ../data/gl2020_24/gl2023.txt: 2430 rows

,date,game_number,day_of_week,visiting_team,visiting_league,visiting_game_number,home_team,home_league,home_game_number,visiting_score,...,h_player_7_position,h_player_8_id,h_player_8_name,h_player_8_position,h_player_9_id,h_player_9_name,h_player_9_position,additional_info,acquisition_info,origin_year
7963,20240913,0,Fri,HOU,AL,147,ANA,AL,147,5,...,8,adamj003,Jordyn Adams,9,stefm001,Michael Stefanic,4,NaN,Y,2024
7370,20240730,0,Tue,KCA,AL,108,CHA,AL,110,4,...,5,fletd003,Dominic Fletcher,7,lee-k002,Korey Lee,2,NaN,Y,2024
7372,20240730,0,Tue,PIT,NL,107,HOU,AL,107,6,...,3,dubom001,Mauricio Dubon,7,mccoc001,Chas McCormick,9,NaN,Y,2024
7373,20240730,0,Tue,MIA,NL,107,TBA,AL,107,3,...,8,rortb001,Ben Rortvedt,2,wallt003,Taylor Walls,6,NaN,Y,2024
7374,20240731,0,Wed,WAS,NL,109,ARI,NL,109,4,...,6,carrc005,Corbin Carroll,9,herrj003,Jose Herrera,2,NaN,Y,2024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
596,20200907,0,Mon,MIA,NL,36,ATL,NL,41,5,...,5,hecha001,Adeiny Hechavarria,4,incie001,Ender Inciarte,8,NaN,Y,2020
595,20200906,0,Sun,MIA,NL,35,TBA,AL,41,4,...,9,smitk002,Kevan Smith,2,lowen001,Nathaniel Lowe,3,NaN,Y,2020
594,20200906,0,Sun,TEX,AL,39,SEA,AL,40,3,...,9,longs001,Shed Long,4,odomj001,Joseph Odom,2,NaN,Y,2020
593,20200906,0,Sun,SDN,NL,42,OAK,AL,37,5,...,9,machv001,Vimael Machin,6,murps001,Sean Murphy,2,NaN,Y,2020
0,20200723,0,Thu,SFN,NL,1,LAN,NL,1,1,...,7,polla001,A.J. Pollock,10,barna001,Austin Barnes,2,NaN,Y,2020

In [36]:
# Just a check to see if all dataframes were properly added
combined_df["origin_year"].unique()

array(['2024', '2023', '2022', '2021', '2020'], dtype=object)