# First print your name in the cell below then save this file. (or something nice about your instructor)

In [2]:
# In this cell print your name 
print("I am Kathleen Abdon. My instructor is patient.")

I am Kathleen Abdon. My instructor is patient.

# Data wrangling with Pandas exercise
* For this exercise we will be using the `listings.csv` data file.

In [3]:
import pandas as pd
import numpy as np

# Load in the data file using `pd.read_csv()`

In [4]:
# Load data here
df = pd.read_csv("../data/listings.csv")

## Exercise 2 - Filtering

Return the following subsets of the dataframe.

1. How many listings are there with a price less than 100? 


2. Find how many listings there are in just Brooklyn.


3. Find how many listings there are in Brooklyn with a price less than 100.


4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.


5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  The prices for all other listings should be the same as the were before. 


6. What % of the rooms are private, and what % of the rooms are shared.  
    * Hint, use `.value_counts()`

In [5]:
df.head(20)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,175,3,48,2019-11-04,0.37,2,365
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,75,1,340,2020-08-01,4.75,1,265
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,29,50,2019-12-02,0.37,1,365
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.66120,-73.99423,Entire home/apt,175,14,1,2014-01-02,0.01,1,295
4,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,65,2,473,2020-03-15,3.44,1,340
5,5203,Cozy Clean Guest Room - Family Apt,7490,MaryEllen,Manhattan,Upper West Side,40.80178,-73.96723,Private room,75,2,118,2017-07-21,0.89,1,0
6,5238,Cute & Cozy Lower East Side 1 bdrm,7549,Ben,Manhattan,Chinatown,40.71344,-73.99037,Entire home/apt,140,1,161,2019-07-29,1.21,4,274
7,5552,Spacious river view in the West Village,8380,Maria,Manhattan,West Village,40.73552,-74.01042,Entire home/apt,160,3,66,2019-08-10,0.49,1,178
8,5803,"Lovely Room 1, Garden, Best Area, Legal rental",9744,Laurie,Brooklyn,South Slope,40.66829,-73.98779,Private room,88,4,180,2020-03-18,1.31,3,344
9,6021,Wonderful Guest Bedroom in Manhattan CENTRAL PARK,11528,Claudio,Manhattan,Upper West Side,40.79826,-73.96113,Private room,85,2,123,2019-12-09,0.90,1,365
10,6090,West Village Nest - Superhost,11975,Alina,Manhattan,West Village,40.73530,-74.00525,Entire home/apt,65,30,29,2020-07-25,0.22,1,197
11,6848,Only 2 stops to Manhattan studio,15991,Allen & Irina,Brooklyn,Williamsburg,40.70837,-73.95352,Entire home/apt,109,2,181,2020-03-16,1.32,1,0
12,6990,UES Beautiful Blue Room / 2 Bedrooms,16800,Cyn,Manhattan,East Harlem,40.78962,-73.94802,Entire home/apt,239,4,233,2019-12-09,1.77,1,365
13,7097,Perfect for Your Parents + Garden; Germ-Free,17571,Jane,Brooklyn,Fort Greene,40.69121,-73.97277,Entire home/apt,182,1,229,2020-07-20,1.78,2,325
14,7750,2 Furnished bedrooms next to Central Park,17985,Sing,Manhattan,East Harlem,40.79685,-73.94872,Private room,96,14,0,NaN,NaN,2,178
15,7801,Sweet and Spacious Brooklyn Loft,21207,Chaya,Brooklyn,Williamsburg,40.71842,-73.95718,Entire home/apt,299,3,9,2011-12-28,0.07,1,337
16,8490,"MAISON DES SIRENES1,bohemian apartment",25183,Nathalie,Brooklyn,Bedford-Stuyvesant,40.68371,-73.94028,Entire home/apt,120,2,115,2020-08-13,0.86,2,319
17,8505,Sunny Bedroom Across Prospect Park,25326,Gregory,Brooklyn,Windsor Terrace,40.65599,-73.97519,Private room,135,1,23,2019-10-14,0.84,2,89
18,8700,Magnifique Suite au N de Manhattan - vue Cloitres,26394,Claude & Sophie,Manhattan,Inwood,40.86754,-73.92639,Private room,86,4,0,NaN,NaN,1,0
19,9657,Modern 1 BR / NYC / EAST VILLAGE,21904,Dana,Manhattan,East Village,40.72920,-73.98542,Entire home/apt,220,3,33,2019-11-11,0.25,1,90

In [6]:
# 1. How many listings are there with a price less than 100? 
price_under_100 = df[df["price"] < 100]

print(len(price_under_100))

22778

In [7]:
# 2. Make a new DataFrame of listings in Brooklyn named `df_bk` 
df_bk = df[df["neighbourhood_group"] == "Brooklyn"]

print(len(df_bk))

18632

In [8]:
# 3. Find how many listings there are in Brooklyn with a price less than 100.

bk_under_100 = df[(df["neighbourhood_group"] == "Brooklyn") & (df["price"] < 100) ]
print(len(bk_under_100))

# or

bk2_under_100 = df_bk[df_bk["price"] < 100]
print(len(bk2_under_100))

10473
10473

In [9]:
# 4. Using `.isin()` select anyone that has the host name of Michael, David, John, and Daniel.
# How many total are there that have those names
names = ["Michael", "David", "John", "Daniel"]
df_names = df['name'].isin(names)

print(len(df_names))

46527

In [22]:
# 5. Create a new column called `adjusted_price` that has $100 added to every listing in Williamsburg.  
# The prices for all other listings should be the same as the were before. 

#create new column
df['adjusted_price'] = df['price']

#Get Williamsburg and adjust price
df.loc[df['neighbourhood'] == "Williamsburg", 'adjusted_price'] = df['price'] + 100

In [24]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,adjusted_price
0,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,175,3,48,2019-11-04,0.37,2,365,175
1,3831,"Whole flr w/private bdrm, bath & kitchen(pls r...",4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,75,1,340,2020-08-01,4.75,1,265,75
2,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,29,50,2019-12-02,0.37,1,365,60
3,5136,"Spacious Brooklyn Duplex, Patio + Garden",7378,Rebecca,Brooklyn,Sunset Park,40.66120,-73.99423,Entire home/apt,175,14,1,2014-01-02,0.01,1,295,175
4,5178,Large Furnished Room Near B'way,8967,Shunichi,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,65,2,473,2020-03-15,3.44,1,340,65

In [58]:
# 6. What % of the rooms are private, and what % of the rooms are shared.  
shared_rate = (len(df[df['room_type'] == "Shared room"]) / len(df)) * 100

private_rate = (len(df[df['room_type'] == "Private room"]) / len(df)) * 100

print(df['room_type'].unique())
print(f"{private_rate:.2f}%")
print(f"{shared_rate:.2f}%")

['Entire home/apt' 'Private room' 'Shared room' 'Hotel room']
45.44%
2.12%

# Exercise 3 - Grouping

1. Using `groupby`, count how many listings are in each neighbourhood_group.


2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 


3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 


4. Using `groupby`, find the median price for each room type in each neighbourhood_group.


5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices for each room type in each neighbourhood_group.

In [40]:
# 1. Using `groupby`, count how many listings are in each neighbourhood_group.
group_neighborhood = df.groupby('neighbourhood_group')['id'].count()

group_neighborhood.head()

neighbourhood_group
Bronx             1183
Brooklyn         18632
Manhattan        20580
Queens            5791
Staten Island      341
Name: id, dtype: int64

In [42]:
# 2. Using `groupby`, find the mean price for each of the neighbourhood_groups. 
group_neighborhood = df.groupby('neighbourhood_group')['price'].mean()

group_neighborhood.head()

neighbourhood_group
Bronx             92.751479
Brooklyn         120.225258
Manhattan        191.880466
Queens            99.754965
Staten Island    110.947214
Name: price, dtype: float64

In [45]:
# 2.5. Using `groupby`, find the mean price for each room_type.
group_neighborhood = df.groupby('room_type')['price'].mean()

group_neighborhood.head()

room_type
Entire home/apt    199.395950
Hotel room         275.015075
Private room        91.453084
Shared room         87.063830
Name: price, dtype: float64

In [59]:
# 3. Using `groupby` and `.agg()`, find the min and max price for each of the neighbourhood_groups. 
group_neighborhood = df.groupby('room_type')['price'].agg(["min", "max"])
print(group_neighborhood)

                 min    max
room_type
Entire home/apt    0  10000
Hotel room         0   2211
Private room      10  10000
Shared room       10  10000

In [60]:
# 4. Using `groupby`, find the mean price for each room_type in each neighbourhood_group.
group_neighborhood = df.groupby('room_type')['price'].median()
print(group_neighborhood)

room_type
Entire home/apt    150.0
Hotel room         192.0
Private room        65.0
Shared room         46.0
Name: price, dtype: float64

In [62]:
# 5. Using `groupby` and `.agg()`, find the count, min, max, mean, median, and std of the prices 
# for each room type in each neighbourhood_group.
group_neighborhood = df.groupby('room_type')['price'].agg(["min", "max", "median", "std"])
print(group_neighborhood)

                 min    max  median         std
room_type
Entire home/apt    0  10000   150.0  337.657116
Hotel room         0   2211   192.0  301.658021
Private room      10  10000    65.0  282.450148
Shared room       10  10000    46.0  354.048373

# Load, Merge, and Export files.
1. Load the `prices.csv` and the `n_listings.csv`
    * Having an error..? Inspect the actual csv file if you're having trouble

2. Do join that keeps all the records for each table.
    * Neighbourhood groups should include ['Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island',
       'LongIsland']

       
3. Save your joined csv as `joined.csv` into the data folder. 


4. Load your saved table and see if it looks the same or different that the DataFrame you used to create it.

In [72]:
# 1. Load the `prices.csv` and the `n_listings.csv`
prices = pd.read_csv("../data/prices.csv")
n_listings = pd.read_csv("../data/n_listings.csv", sep=";")

In [75]:
# 2. Do join that keeps all the records for each table.
joined = pd.merge(prices, n_listings, on = "neighbourhood_group")

  neighbourhood_group   mean_price  n_listings
0               Bronx    92.751479        1183
1            Brooklyn   120.225258       18632
2           Manhattan   191.880466       20580

In [76]:
# 3. Save your joined csv as `joined.csv` into the data folder. 
joined.to_csv("../data/joined.csv", index=False)

In [ ]:
# 4. Load your newly saved file, see if it looks the same.  If not, try saving with argument `index=False`
check = pd.read_csv("../data/joined.csv")
print(check)

  neighbourhood_group   mean_price  n_listings
0               Bronx    92.751479        1183
1            Brooklyn   120.225258       18632
2           Manhattan   191.880466       20580

# Extra Credit
Every question below this cell is extra credit and optional.

### 1. (Easy) Explore this new PandasAI Package and tell me what its all about because I've never used it. 
* https://www.youtube.com/watch?v=5w6eZaoDVVk&ab_channel=CodingIsFun  
* See if you can use it on the listings.csv to find out some cool info. or answer some of the questions above.

### 2. (Very Easy) Find other cool Panda packages / add ons and show us what they can do well. And how you installed them.

### 3. (Medium) Use the grammys.csv data for the next section of questions.

1. Who was won Album of the Year in 2016?


2. Who won Best Rap Album in 2009?


3. How many awards was Kendrick Lamar nomiated for, and how many did he win...?

### (Hard) Load the Game Logs for 2022 and add the column names using a dictionary.  
* [Link to the data page](https://www.retrosheet.org/gamelogs/)
* [Link to the column names](https://procatinator.com/)
* haha, gotta find them yourself!

### (Extra Hard) Download the files for the past 5 years into a new folder and add them all into one data frame using pandas, then save that new file.
* Try to not hard code in the file names. We want to do this programmatically because what if we want to add new/more file names in the future.